numpy==1.23.5
opencv-python==4.2.0.32
firebase-admin
-f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html
paddlepaddle-gpu==2.5.0rc0.post117
torch==2.0.1
torchvision==0.15.2
sentence-transformers
fastapi==0.83.0
fastapi_rfc7807==0.5.0
python-multipart
streamlit
uvicorn
shapely
pyclipper
scikit-image
imgaug
lmdb